<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="dependencyVersion" value="Highest" />
    <add key="globalPackagesFolder" value="CosmosManager/.nuget" />
  </config>

  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <packageSources>
    <clear />
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="Zarlo" value="https://nuget.zarlo.dev/index.json" protocolVersion="3" />
    <add key="Cosmos" value="CosmosManager/bin/Packages" />
  </packageSources>

</configuration>
